<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:aqua">
    <div align="center"><h1>Renault</h1>
    <h3>modelo=kwid</h3>
    <h3>velocidad=127</h3>
    <h3>caballos de fuerza=100</h3></div>
    <div align="center"><img src="https://cdn.motor1.com/images/mgl/GPbo8/s1/renault-kwid-outsider-2020.jpg"
         width="670"
         height="371"></div>
         
</body>
</html>